* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

@font-face {
  font-family: 'Avenir';
  font-weight: 800;
  src: url(../fonts/AvenirLTStd-Black.woff); }

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: url(../fonts/AvenirLTStd-Medium.woff); }

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url(../fonts/AvenirLTStd-Book.woff); }

@font-face {
  font-family: 'MetaSerif';
  font-weight: 400;
  src: url(../fonts/MetaSerifOT-Book.woff); }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 47.938em) {
    html {
      font-size: 52%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.col-32 {
  width: 32.05%; }
  @media only screen and (max-width: 36.25em) {
    .col-32 {
      width: 100%; } }

.col-68 {
  width: 68.05%; }
  @media only screen and (max-width: 36.25em) {
    .col-68 {
      width: 100%; } }

@media only screen and (max-width: 36.25em) {
  .col-sm-100 {
    width: 100%; } }

@media only screen and (max-width: 30em) {
  .col-xs-100 {
    width: 100%; } }

@media only screen and (max-width: 36.25em) {
  .order-sm-0 {
    order: 0; } }

body {
  font-family: "Avenir";
  font-size: 1.6rem; }

.heading-primary {
  font-family: "MetaSerif"; }

.heading-secondary {
  font-family: "Avenir"; }

.heading-sub {
  font-size: 1.5rem; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .btn__primary {
    font-size: 1.3rem;
    padding: 1.5rem 3rem;
    border: .01rem solid #000;
    color: #000;
    font-weight: 600;
    letter-spacing: .2rem; }
    .btn__primary::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 0;
      height: 100%;
      background-color: #000;
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .btn__primary:hover {
      color: #fff; }
      .btn__primary:hover::before {
        width: 100%; }
  .btn__primary-alt {
    font-size: 1.3rem;
    padding: 1.5rem 3rem;
    border: .01rem solid #fff;
    color: #fff;
    font-weight: 600;
    letter-spacing: .2rem; }
    .btn__primary-alt::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 0;
      height: 100%;
      background-color: #fff;
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .btn__primary-alt:hover {
      color: #000; }
      .btn__primary-alt:hover::before {
        width: 100%; }
  .btn__secondary {
    font-size: 1.5rem;
    padding: .5rem 0;
    letter-spacing: .2rem; }
    .btn__secondary::after {
      content: '';
      position: absolute;
      height: .1rem;
      width: 0;
      background-color: #000;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .btn__secondary:hover::after {
      width: 100%; }

.cardLink {
  display: block; }

.card {
  overflow: hidden; }
  .card__img {
    width: 100%;
    height: 100%; }
    .card__img--img {
      width: 100%;
      height: 100%;
      transition: all 1s ease; }
  .card__cap {
    overflow: hidden;
    z-index: 1;
    background-color: rgba(242, 242, 242, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); }
  .card:hover .card__img--img {
    transform: scale(1.1); }

.header__logo .logo-path {
  fill: #fff; }

@media only screen and (max-width: 36.25em) {
  .header__nav {
    display: none; } }

.header__list--item {
  position: relative; }
  .header__list--item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 0;
    height: .1rem;
    bottom: .5rem;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .header__list--item:hover:not(:last-child)::after {
    width: 80%; }

.header__list .active::after {
  width: 80%; }

.header .open {
  bottom: 0; }

.header__searchBar {
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem); }
  .header__searchBar .form__row {
    width: 72rem;
    height: 30rem; }

.header__search {
  font-family: "Avenir"; }
  .header__search::placeholder {
    font-size: 3rem; }
  .header__search:focus {
    background-color: rgba(0, 0, 0, 0.5); }

.header__searchBtn {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 2rem; }
  .header__searchBtn:hover, .header__searchBtn:focus {
    background-color: #e6e6e6;
    outline: none; }

.header .close {
  right: 0;
  top: -10rem;
  cursor: pointer; }

.header__quickLink .quickLink__item {
  position: relative; }
  .header__quickLink .quickLink__item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 10rem;
    background-color: #fff;
    transform: translateY(-50%); }

.header__quickLink .quickLink__link {
  font-family: "MetaSerif";
  font-size: 4rem; }
  .header__quickLink .quickLink__link:hover {
    text-decoration: underline; }

.header__trigger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: flex-end;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .header__trigger:focus {
    outline: none; }
  @media only screen and (max-width: 36.25em) {
    .header__trigger {
      display: flex; } }
  .header__trigger--bar {
    width: 80%;
    height: .3rem;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .header__trigger::before {
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
    height: .3rem;
    transform: translateY(-1rem);
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .header__trigger::after {
    content: '';
    position: absolute;
    width: 60%;
    right: 0;
    height: .3rem;
    transform: translateY(1rem);
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.header .triggered {
  transform: rotate(180deg); }
  .header .triggered .header__trigger--bar {
    visibility: hidden;
    opacity: 0; }
  .header .triggered::before {
    width: 100%;
    transform: rotate(-45deg) translateY(0); }
  .header .triggered::after {
    width: 100%;
    transform: rotate(45deg) translateY(0); }

.header .navOpen {
  left: 0 !important; }

.header__mobileNav {
  position: fixed;
  display: none;
  top: 8rem;
  bottom: 0;
  right: 0;
  left: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 5rem;
  letter-spacing: .2rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  @media only screen and (max-width: 36.25em) {
    .header__mobileNav {
      display: block; } }
  .header__mobileNav--list {
    padding: 1rem 0 0 1.5rem; }
  .header__mobileNav--item {
    visibility: hidden;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .header__mobileNav--item:not(:last-child) {
      margin-bottom: 1rem; }

.header__mobileForm {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: translateY(2rem);
  padding: 3rem 1.5rem 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .header__mobileForm--search {
    width: 100%;
    background-color: transparent;
    border-bottom: .2rem solid #fff;
    border-top: .2rem solid #fff;
    border-left: .2rem solid #fff;
    padding: 1.5rem 2rem;
    font-size: 3rem;
    border-radius: 1rem 0 0 1rem; }
  .header__mobileForm--btn {
    width: 13rem;
    font-size: 3rem;
    border-bottom: .2rem solid #fff;
    border-top: .2rem solid #fff;
    border-right: .2rem solid #fff;
    border-radius: 0 1rem 1rem 0; }

.header .item-reset {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

.footer {
  background-color: #f7f7f7; }
  .footer__nav--item:not(:last-child) {
    margin-bottom: 1rem; }
  .footer__nav--link {
    font-size: 1.45rem;
    color: #737373; }
    .footer__nav--link:hover {
      color: #000; }
  .footer__gift--heading {
    color: #737373;
    font-size: 1.4rem; }
  .footer__gift--link {
    font-size: 2rem;
    transition: all .3s ease; }
    .footer__gift--link:hover {
      color: #737373; }
  .footer__social--heading {
    color: #737373;
    font-size: 1.4rem; }
  .footer__social--sub {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .footer__socialList--item:not(:last-child) {
    margin-right: 1.6rem; }
  .footer__socialList--link {
    font-size: 2rem;
    transition: all .3s ease; }
    .footer__socialList--link:hover {
      color: #737373; }
  .footer__mini {
    max-width: 30rem; }
    .footer__mini--logo {
      display: block; }

.hero__slideCont {
  height: 70rem; }

.hero__slideContent {
  max-width: 35rem;
  width: calc(100% - 1.5rem);
  top: 80%;
  left: 20%;
  transform: translate(-20%, -80%); }
  @media only screen and (max-width: 30em) {
    .hero__slideContent {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -60%); } }
  .hero__slideContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hero__slideContent--sub {
    transform: translateY(5rem);
    will-change: transform;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s; }
  .hero__slideContent--heading {
    transform: translateY(5rem);
    will-change: transform;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s; }
  .hero__slideContent--desc {
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s; }
  .hero__slideContent--btnGrp {
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s; }

.hero .slideContentShown::after {
  height: 100%; }

.hero .slideContentShown .hero__slideContent--sub {
  transform: translateY(0); }

.hero .slideContentShown .hero__slideContent--heading {
  transform: translateY(0); }

.hero .slideContentShown .hero__slideContent--desc {
  opacity: 1;
  visibility: visible; }

.hero .slideContentShown .hero__slideContent--btnGrp {
  opacity: 1;
  visibility: visible; }

.arrivals__header {
  max-width: 40rem; }

.serve {
  position: relative; }
  .serve__row {
    position: relative; }
  .serve__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }
    @media only screen and (max-width: 47.938em) {
      .serve__content {
        transform: translate(0);
        margin-bottom: 5rem; } }
    .serve__content::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 0;
      height: 100%;
      background-color: #f2f2f2;
      transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .serve__content--heading {
      font-family: "MetaSerif";
      opacity: 0;
      visibility: hidden;
      transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }
    .serve__content--desc {
      opacity: 0;
      visibility: hidden;
      transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }

@media only screen and (max-width: 47.938em) {
  .coffee__img {
    height: 50rem; } }

@media only screen and (max-width: 36.25em) {
  .coffee__img {
    height: 40rem; } }

.coffee__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 47.938em) {
    .coffee__content {
      transform: translate(0);
      margin-bottom: 5rem; } }
  .coffee__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    margin-left: 100%;
    height: 100%;
    transform: rotate(180deg);
    background-color: #f2f2f2;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .coffee__content--heading {
    font-family: "MetaSerif";
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }
  .coffee__content--desc {
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }

@media only screen and (max-width: 47.938em) {
  .tech__img {
    height: 50rem; } }

@media only screen and (max-width: 36.25em) {
  .tech__img {
    height: 40rem; } }

.tech__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 47.938em) {
    .tech__content {
      transform: translate(0);
      margin-bottom: 5rem; } }
  .tech__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    transform: rotate(180deg);
    background-color: #f2f2f2;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .tech__content--heading {
    font-family: "MetaSerif";
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }
  .tech__content--desc {
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }

@media only screen and (max-width: 47.938em) {
  .support__img {
    height: 50rem; } }

@media only screen and (max-width: 36.25em) {
  .support__img {
    height: 40rem; } }

.support__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 47.938em) {
    .support__content {
      transform: translate(0); } }
  .support__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    margin-left: 100%;
    height: 100%;
    transform: rotate(180deg);
    background-color: #f2f2f2;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .support__content--heading {
    font-family: "MetaSerif";
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }
  .support__content--desc {
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s; }

.contentShown::after {
  width: 100%;
  margin-left: 0; }

.contentShown .serve__content--heading,
.contentShown .coffee__content--heading,
.contentShown .tech__content--heading,
.contentShown .support__content--heading,
.contentShown .serve__content--desc,
.contentShown .coffee__content--desc,
.contentShown .tech__content--desc,
.contentShown .support__content--desc {
  opacity: 1;
  visibility: visible; }

.education__img {
  height: 60rem; }
  @media only screen and (max-width: 36.25em) {
    .education__img {
      height: 50rem; } }

.education__content {
  top: 0;
  left: 0;
  color: #000; }
  .education__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem); }
  .education__content--heading {
    font-family: "MetaSerif"; }

.shop {
  padding: 15rem 0 8rem 0; }
  @media only screen and (max-width: 36.25em) {
    .shop {
      padding: 10rem 0 4rem 0; } }

.dial {
  display: flex; }
  @media only screen and (max-width: 36.25em) {
    .dial {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 36.25em) {
    .dial__img {
      height: 40rem; } }
  .dial__img--img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .dial__cap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #048444;
    color: #fff;
    padding: 5rem 10rem; }
    @media only screen and (max-width: 47.938em) {
      .dial__cap {
        padding: 5rem 3rem; } }
    .dial__cap--desc > h1 {
      font-family: "MetaSerif"; }

.product {
  padding: 15rem 0 8rem 0; }
  @media only screen and (max-width: 36.25em) {
    .product {
      padding: 10rem 0 8rem 0; } }
  .product__view {
    height: 45rem; }
    @media only screen and (max-width: 36.25em) {
      .product__view {
        height: 60rem; } }
    @media only screen and (max-width: 30em) {
      .product__view {
        height: 50rem; } }
    .product__view--img {
      object-position: center 38%; }
  .product__quantity .quantity {
    cursor: pointer; }
  .product__quantity .fa {
    position: absolute;
    top: 56%;
    right: 2rem;
    pointer-events: none; }
  .product__desc--para {
    color: #333333; }

.orderDetail {
  padding: 15rem 0 4rem 0; }
  .orderDetail__productImg {
    height: 40rem;
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .orderDetail__productImg {
        height: 30rem; } }
    @media only screen and (max-width: 36.25em) {
      .orderDetail__productImg {
        height: 20rem; } }
    @media only screen and (max-width: 30em) {
      .orderDetail__productImg {
        height: 40rem; } }
    .orderDetail__productImg--img {
      object-position: center 38%; }
  @media only screen and (max-width: 36.25em) {
    .orderDetail__product > h4 {
      font-size: 2.5rem; } }

@media only screen and (max-width: 36.25em) {
  .thanksMsg > h1 {
    font-size: 5vw; } }

.location-hero {
  height: 70rem;
  oveflow: hidden; }
  .location-hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover; }
  .location-hero__caption {
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%); }
    @media only screen and (max-width: 36.25em) {
      .location-hero__caption {
        width: 100%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .location-hero__desc {
    font-family: "MetaSerif";
    font-size: 2rem; }

.location-place {
  padding: 8rem 0 6rem 0; }
  .location-place__cardCap {
    text-align: center; }

.learn-banner {
  height: 70rem;
  overflow: hidden; }
  .learn-banner__img {
    object-position: center; }
  .learn-banner__caption {
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%); }
    @media only screen and (max-width: 36.25em) {
      .learn-banner__caption {
        width: 100%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .learn-banner__caption--desc {
      font-family: "MetaSerif";
      font-size: 2rem; }

.learn-topic__view {
  overflow: hidden; }
  .learn-topic__view--img {
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.learn-topic__cardLink:hover .learn-topic__view--img {
  transform: scale(1.1); }

.contact {
  padding: 12rem 0 4rem 0;
  background-color: #d9d9d9; }

.contactInfo {
  background-color: #000; }
  .contactInfo__field {
    background-color: transparent;
    color: #fff; }
    .contactInfo__field::placeholder {
      color: #fff; }
  .contactInfo__msg {
    resize: vertical; }

.map {
  height: 40rem; }

.sitemap {
  padding: 12rem 0 4rem 0; }
  .sitemap__list--link {
    transition: all .2s ease; }
    .sitemap__list--link:hover {
      background-color: #f2f2f2; }
